/* ----------------------------------- Generale ----------------------------------- */
html{

}
body{
  //display: flex;
  //flex-direction: column;
  min-height: 100vh;
}
main{
  //display: flex;
  //flex-direction: column;
  //min-height: 83.6vh;
}
a{
  color: #0066C0 !important;
}
.navbar-toggler{
  background-color: #CC9E08 !important;
}
/* ----------------------------------- Header ----------------------------------- */

header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
#header_1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#header_1 > a > img{
  height: 70px;
}
#header_1 > a{
  padding: 0;
  margin: 0;
}
#header_1_line{
  background-color: #FFC300;
  height: 9px;
  width: 100%;
}

/* ----------------------------------- Header_2 ----------------------------------- */

#header_2{
  //display: flex;
  //align-items: center;
  //justify-content: center;
  background-color: black;
}
#header_2 > a > img{
  height: 70px;
}
#header_2_line{
  background-color: #FFC300;
  height: 9px;
  width: 100%;
}

/* ----------------------------------- Footer ----------------------------------- */
#footer{
  height: 5vw;
  background: radial-gradient(at 49% 17%, #E7E7E7, #FFFFFF 49%);
}
#footer_line{
  background: linear-gradient(90deg ,rgba(255,255,255,0.5), #FFC300, rgba(255,255,255,0.5));
  width: 100%;
  height: 0.15vw;
  margin-bottom: 0.8vw;
}
#footer_1 > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
}
#footer_1 > ul > li{
  margin: 0 1.5vw;
  color: #0066C0;
}
#footer_2{
  display: flex;
  justify-content: center;
  margin-top: 0.4vw;
}
#footer_2 > p{
  color: #555555;
}

/* ----------------------------------- Connection ----------------------------------- */
#div_form_connexion{
  border-color: #979797;
}
#div_connexion{
 // background-color: red;
}
#div_connexion_2{
}
#div_connexion > form > div >input[type=submit]{
  background-color: #FFC300;
  border-color: #CC9E08;
}
#div_connexion_2 > div > h5{
  text-align: center;
  color: #928585;
}
#div_connexion_2  > div >button{
  background-color: white;
  border-color: black;
  color: black;
  width: 100%;
}
/* ----------------------------------- Inscription ----------------------------------- */
#div_inscription > form > div >input[type=submit]{
  background-color: #FFC300;
  border-color: #CC9E08;
  width: 100%;
}
#div_inscription_2 > div > h5{
  text-align: center;
  color: #928585;
}
#div_inscription_2  > div >button{
  background-color: white;
  border-color: black;
  color: black;
  width: 100%;
}

/* ----------------------------------- Search barre ----------------------------------- */
#search_barre_bouton{
  border-color: #CC9E08;
  color: #CC9E08;
}

#header_1_link > *{
  color: #CC9E08 !important;
}

/* ----------------------------------- Search barre ----------------------------------- */
#SubHeaderCategories{
  background-color: #242217 !important;
}
#SubHeaderCategories > * > a{
  color: white !important;
}
#SubHeaderCategories > * > * > * > a{
  color: white !important;
}
