/* ----------------------------------- Media Queries ----------------------------------- */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	#carouselexpert img{
		height: 500px;
	}
	#carouselexpertoneoffer img{
		height: 500px;
	}
	#divShopMain img{
		height: 450px;
	}
	#divArticlesCart img{
		height: 300px;
	}
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

	#carouselexpert img{
		height: 400px;
	}
	#carouselexpertoneoffer img{
		height: 400px;
	}
	#divShopMain img{
		height: 210px;
	}
	#divArticlesCart img{
		height: 250px;
	}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

	#carouselexpert img{
		height: 700px;
	}
	#carouselexpertoneoffer img{
		height: 700px;
	}
	#divShopMain img{
		height: 260px;
	}
	#divArticlesCart img{
		height: 300px;
	}
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	#carouselexpert img{
		height: 350px;
	}
	#carouselexpertoneoffer img{
		height: 350px;
	}
	#divShopMain img{
		height: 265px;
	}
	#divArticlesCart img{
		height: 250px;
	}
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	#carouselexpert img{
		height: 500px;
	}
	#carouselexpertoneoffer img{
		height: 500px;
	}
	#divShopMain img{
		height: 300px;
	}
	#divArticlesCart img{
		height: 200px;
	}
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {

	#carouselexpert img{
		height: 350px;
	}
	#carouselexpertoneoffer img{
		height: 350px;
	}
	#divShopMain img{
		height: 450px;
	}
	#divArticlesCart img{
		height: 225px;
	}
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	#carouselexpert img{
		height: 350px;
	}
	#carouselexpertoneoffer img{
		height: 350px;
	}
	#divShopMain img{
		height: 450px;
	}
	#divArticlesCart img{
		height: 170px;
	}
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

	#carouselexpert img{
		height: 500px;
	}
	#carouselexpertoneoffer img{
		height: 500px;
	}
	#divShopMain img{
		height: 450px;
	}
	#divArticlesCart img{
		height: 300px;
	}
}
/* ----------------------------------- Generale ----------------------------------- */
html {

}

body {
	//display: flex;
	//flex-direction: column;
	min-height: 100vh;
}

main {
	//display: flex;
	//flex-direction: column;

}

.navbar-toggler {
	background-color: #CC9E08 !important;
}

.nav-link{
	cursor: pointer;
	.disabled{
		cursor: auto;
	}
}

/* ----------------------------------- Header ----------------------------------- */

header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

#header_1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

#header_1 > a > img {
	height: 70px;
}

#header_1 > a {
	padding: 0;
	margin: 0;
}

#header_1_line {
	background-color: #FFC300;
	height: 9px;
	width: 100%;
}

/* ----------------------------------- Header_2 ----------------------------------- */

#header_2 {
	background-color: black !important;
}

#header_2 > a > img {
	height: 70px;
}

#header_2_line {
	background-color: #FFC300;
	height: 9px;
	width: 100%;
}

/* ----------------------------------- Footer ----------------------------------- */
#footer {
	height: 5vw;
	background: radial-gradient(at 49% 17%, #E7E7E7, #FFFFFF 49%);
}

#footer_line {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), #FFC300, rgba(255, 255, 255, 0.5));
	width: 100%;
	height: 0.15vw;
	margin-bottom: 0.8vw;
}

#footer_1 > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer_1 > ul > li {
	margin: 0 1.5vw;
	color: #0066C0;
}

#footer_2 {
	margin-top: 0.4vw;
}

#footer_2 > p {
	color: #555555;
}

/* ----------------------------------- Connection ----------------------------------- */
#div_form_connexion {
	border-color: #979797;
}

#div_connexion {
	// background-color: red;
}

#div_connexion_2 {
}

#div_connexion > form > div > input[type=submit] {
	background-color: #FFC300;
	border-color: #CC9E08;
}

#div_connexion_2 > div > h5 {
	text-align: center;
	color: #928585;
}

#div_connexion_2 > div > button {
	background-color: white;
	border-color: black;
	color: black;
	width: 100%;
}

/* ----------------------------------- Inscription ----------------------------------- */
#div_inscription > form > div > input[type=submit] {
	background-color: #FFC300;
	border-color: #CC9E08;
	width: 100%;
}

#div_inscription_2 > div > h5 {
	text-align: center;
	color: #928585;
}

#div_inscription_2 > div > button {
	background-color: white;
	border-color: black;
	color: black;
	width: 100%;
}

/* ----------------------------------- Search barre ----------------------------------- */
#search_barre_bouton {
	border-color: #CC9E08;
	color: #CC9E08;
}

#header_1_link > * {
	color: #CC9E08 !important;
}

/* ----------------------------------- Search barre ----------------------------------- */
#SubHeaderCategories {
	background-color: #242217 !important;
}

#SubHeaderCategories > * > a {
	color: white !important;
}

#SubHeaderCategories > * > * > * > a {
	color: white !important;
}

/* ----------------------------------- Sub Header 3 ----------------------------------- */
.subHeader3 {
	background-color: #EAE9E7 !important;
	border-color: #C9C8C4 !important;
	border-width: 1px;
}

.subHeader3 > * > a {
	color: #4B4B4B !important;
}



.navbar-dark .navbar-nav > .nav-link.active{
	color: $primary;
}

.navbar-dark .navbar-nav > .nav-link{
	color: #4B4B4B;
}

.divs_manage {
	background-color: #F5F5F5;
}

/* ----------------------------------- table disposition ----------------------------------- */
#div_trader_add_offer_button input[type=submit] {
	background-color: #FFC300;
	border-color: #CC9E08;
	width: 100%;
}

#priceEstimationOk {
	background-color: #CC9E08;
}

/* ----------------------------------- trader pending offer ----------------------------------- */
#divtraderpendingtable thead{
	background-color: #3C3C3C !important;
	color: #CC9E08 !important;
}

/* ----------------------------------- trader History offer ----------------------------------- */
#divtraderhistorytable thead{
	background-color: #3C3C3C !important;
	color: #CC9E08 !important;
}
/* ----------------------------------- expert offer ----------------------------------- */
#divexpertoffertable thead{
	background-color: #3C3C3C !important;
	color: #CC9E08 !important;
}
/* ----------------------------------- expert history offer ----------------------------------- */
#divexperthistoryoffertable thead{
	background-color: #3C3C3C !important;
	color: #CC9E08 !important;
}

/* ----------------------------------- shop ----------------------------------- */
#divShopCategories p{
	color: gray;
}
#divShopCategories H5{
	color: black;
}

/* ----------------------------------- stripe ----------------------------------- */
#div_stripe button{
	width: 100%;
}